{% load socialaccount static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
    {% for brand in provider.get_brands %}
        <a title="{{brand.name}}" class="link-icon" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-{{ brand.name|lower }} fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    {% endfor %}
    {% endif %}
    <a title="{{ provider.name }}" class="link-icon"  href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ provider.name|lower }} fa-stack-1x fa-inverse"></i>
        </span>
    </a>
{% endfor %}