{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags members %}

{% block body_class %}template-homepage{% endblock %}

{% block title %}Baroni-Massad: cursos veterinários{% endblock %}
{% block description %}<meta name="description" content="A Baroni-Massad é uma empresa de cursos veterinários que oferece ensino à distância e presencial, além dos serviços de telerradiologia e consultoria em imagem">{% endblock %}

{% block content %}
    <img src="{% static 'images/baroni-massad-banner.png' %}" class="img-fluid" alt="Logo da Baroni-Massad cursos veterinários">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5">
                    <h1>Cursos</h1>
                </div>
            </div>
        </div>
    </div>

    {% get_courses %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-3">
                    <h4>Confira todos os nossos cursos e palestras!</h4>
                </div>
                <div class="text-center mt-3">
                    <a class="btn btn-sabia" href="{% url 'cursos' %}">Ver mais</a>
                </div>
            </div>
        </div>
    </div>

    {# Contato #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5">
                    <h1>Entre em contato</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-12">
                <div class="mt-3">
                    {% include_block page.form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}