{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags members %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {# Slider #}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for item in self.carousel_images.all %}
                {% image item.image fill-900x400 as img %}
                <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                    <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
                    <div class="carousel-caption">
                        <h1 {% if item.title_color %}style="color: {{ item.title_color }}" {% endif %}>{{ item.title }}</h1>
                        <h4 {% if item.description_color %}style="color: {{ item.description_color }}" {% endif %}>{{ item.description }}</h4>
                        <a class="btn btn-sabia mt-sm-2" href="{{item.link}}">Saiba mais</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    {# Nossos serviços #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5">
                    <h1>{{ page.service_title }}</h1>
                    <p>{{ page.service_body|richtext }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in self.services.all %}
                <div class="col-md-4 mt-3">
                    <div class="card border-0">
                        <a href="{{service.link.url}}">
                            {% image service.image fill-574x286 class="card-img img-fluid" %}
                            <div class="card-img-overlay">
                                <div class="col-8">
                                    <h4 class="card-title">{{ service.title }}</h4>
                                    <p class="card-text">{{ service.description }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# Equipe #}
    {% get_members %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-3">
                    <h2>Colega veterinário, você gostaria de ser membro da nossa equipe?</h2>
                </div>
                <div class="text-center mt-3">
                    <a class="btn btn-sabia" href="{{ page.member_link.url }}">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>

    {# Por que nos escolher #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5">
                    <h1>Por que nos escolher</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in self.why_choose_us.all %}
                <div class="col-md-4 mt-3">
                    <div class="card border-0">
                        <h4 class="card-title text-orange font-weight-bold">
                            <i class="{{ item.icon }}"></i> {{ item.title }}
                        </h4>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# Contato #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5">
                    <h1>Entre em contato</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-12">
                <div class="mt-3">{{ page.form }}</div>
            </div>
        </div>
    </div>
{% endblock %}