{% load wagtailimages_tags static %}

{% if members %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5">
                    <h1>Equipe</h1>
                </div>
            </div>
        </div>
        <div class="row row-team">
            <button id="btnPrev" class="btn-team btn-previous">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <button id="btnNext" class="btn-team btn-next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
            <div id="teambox">
                <div class="container container-team">
                    {% for member in members %}
                        {# <a href="equipe/#{{ member.id }}">{% image member.image fill-280x280 %}</a> #}
                        {% image member.image fill-280x280 as photo %}
                        <div class="person" style="background-image: url({{photo.url}})">
                            <h2 class="title">{{member}} <br /> <small>{{member.job_title}}</small></h2>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
