Django==3.1.4
wagtail==2.10.2
wagtailtrans==2.2.1
django-allauth==0.44.0
django-widget-tweaks==1.4.8
django-debug-toolbar==3.1.1
wagtailfontawesome==1.2.1
django-extensions==3.1.0
wagtailstreamforms==3.12
django-recaptcha==2.0.6
django-embed-video==1.4.0
psycopg2-binary==2.8.6
python-dotenv==0.15.0
coverage==5.4
factory-boy==3.2.0