{% extends 'account/base_card.html' %}

{% load i18n %}

{% block title %}{% trans "Delete account" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Delete account" %}</h3>
{% endblock %}

{% block card-body %}
    <form method="POST">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to delete the account" %} {{ object.email }}?</p>
        <div class="btn-profile">
            <button type="submit" class="btn btn-sabia">{% trans "Delete" %}</button>
            <a href="{% url 'account_profile' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
