{% extends 'account/base_card.html' %}

{% load i18n static %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Account profile" %}</h3>
{% endblock %}

{% block card-body %}
    <div class="container">
        <div class="form-row">
            <div class="col-12 col-md-6">
                <label for="first_name">{% trans "First name" %}</label>
                <input type="text" class="form-control" id="first_name" placeholder="{{ request.user.first_name|default:'' }}" disabled>
            </div>
            <div class="col-12 col-md-6">
                <label for="last_name">{% trans "Last name" %}</label>
                <input type="text" class="form-control" id="last_name" placeholder="{{ request.user.last_name|default:'' }}" disabled>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-12 col-md-6">
                <label for="email">{% trans "E-mail" %}</label>
                <input type="text" class="form-control" id="email" placeholder="{{ request.user.email }}" disabled>
            </div>
            <div class="col-12 col-md-6">
                <label for="id_academic_background">{% trans "Academic background" %}</label>
                <select class="form-control" id="id_academic_background" disabled>
                    <option value="{{ request.user.academic_background }}">
                        {% if request.user.academic_background == "vet" %}{% trans "Veterinarian" %}{% elif request.user.academic_background == "student" %}{% trans "Veterinary medicine student" %}{% elif request.user.academic_background == "other" %}{% trans "Others" %}{% endif %}
                    </option>
                </select>
            </div>
        </div>
        {% if request.user.academic_background == "other" %}
            <br>
            <div class="form-row">
                <div class="col-12">
                    <label for="id_other">{% trans "Other" %}</label>
                    <input type="text" class="form-control" id="id_other" placeholder="{{ request.user.other }}" disabled>
                </div>
            </div>
        {% endif %}
{#        <br>#}
{#        <div class="form-row">#}
{#            <div class="col-12 col-md-6">#}
{#                <label for="phone">{% trans "Phone" %}</label>#}
{#                <input type="text" class="form-control" id="phone" placeholder="{{ request.user.phone|default:'' }}" disabled>#}
{#            </div>#}
{#            <div class="col-12 col-md-6">#}
{#                <label for="email">{% trans "Certificate" %}</label>#}
{#                <input type="text" class="form-control" id="certificate" placeholder="{{ request.user.filename|default:'' }}" disabled>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}

{% block card-footer %}
    <a href="{% url 'account_update' request.user.pk %}">{% trans "Update your account" %}</a>
{% endblock %}