{% extends 'account/base_card.html' %}

{% load i18n socialaccount socialaccount %}

{% block title %}{% trans "Update account" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Update account" %}</h3>
{% endblock %}

{% block card-body %}
    {% get_providers as socialaccount_providers %}
    <form method="POST" action="{% url 'account_update' request.user.pk %}" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.first_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.last_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email"><small>{% trans "E-mail" %}</small></label>
                <input type="text" class="form-control" id="email" placeholder="{{ request.user.email }}" disabled>
            </div>
            <div class="form-group col-md-6">
                {% with field=form.academic_background %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                {% with field=form.other %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
{#        <div class="form-row">#}
{#            <div class="form-group col-12">#}
{#                {% with field=form.phone %}{% include "account/form_field.html" %}{% endwith %}#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                {% with field=form.certificate %}{% include "account/form_field.html" %}{% endwith %}#}
{#            </div>#}
{#        </div>#}
        <br>
        <div class="btn-profile">
            <button type="submit" class="btn btn-sabia">{% trans "Save" %}</button>
            <a href="{% url 'account_profile' %}" class="btn btn-secondary">{% trans "Back" %}</a>
        </div>
    </form>
    {% if socialaccount_providers %}
        <br>
        <p>{% blocktrans with site.name as site_name %}Connect your existing account to one of your social accounts:{% endblocktrans %}</p>
        <p>{% include "socialaccount/provider_list.html" with process="connect" %}</p>
    {% endif %}
{% endblock %}

{% block card-footer %}
    <a href="{% url 'account_delete' request.user.pk %}">{% trans "Delete your account" %}</a>
{% endblock %}