{% extends "account/base_card.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Verify Your E-mail Address" %}</h3>
{% endblock %}

{% block card-body %}
    <p>{% blocktrans %}We have sent an email to you. Access the link provided to complete the registration process on our website. If you can't find the email, check your spam folder. Please contact us if you don't receive the email within 10 minutes.{% endblocktrans %}</p>
{% endblock %}