{% extends "wagtailusers/users/edit.html" %}

{% block extra_fields %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.academic_background %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.other %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.certificate %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.phone %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.cpf %}
{% endblock extra_fields %}