body {
    background-color: #2c2d33;
    color: #ffffff
}

/* Fonte do Google */
* {
  font-family: 'Montserrat', sans-serif;
}

.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w700 {
  font-weight: 700;
}

/* Botão laranja */
.btn {
    letter-spacing: 1.1px;
    padding: 16px 40px 15px;
    font-weight: 700;
    font-size: 14px;
}

.btn-sabia {
  color: #fff;
  background-color: #ff6600;
  border-color: #ff6600;
}

.btn-sabia:hover {
  color: #fff;
  background-color: #424248;
  border-color: #424248;
}

.btn-sabia.disabled, .btn-sabia:disabled {
  background-color: #FFAF70;
  border-color: #FFAF70;
}

/* Footer */
.copyright {
    color: #ffffff;
    font-size: 12px;
}

.link-icon {
    color: #424248
}

.link-icon:hover {
    color: #ff6600
}
