body {
  background-color: #2c2d33;
  color: #ffffff;
}

/* Fonte do Google */
* {
  font-family: "Montserrat", sans-serif;
}

/* Títulos */

h1,
h2,
h3,
h4 {
  word-wrap: initial;
}

h1,
.h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 32px;
  font-weight: 600;
}
h3,
.h3 {
  font-size: 26px;
  font-weight: 600;
}
h4,
.h4 {
  font-size: 23px;
  font-weight: 600;
}
h5,
h5 {
  font-size: 22px;
}
h6,
h6 {
  color: #ffffff;
  padding: 10px;
  background-color: #ff6600;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.6px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 16px;
  }
}

/* Links */
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ff6600;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Lista */
.orange-bullet ul {
  list-style-type: none;
}
.orange-bullet ul li:before {
  background-color: #ff6600;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  height: 10px;
  width: 10px;
}

/* Menu principal */
.main-menu a {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 15px;
  position: relative;
}
.main-menu a:hover {
  color: #ff6600;
  border-bottom: 5px solid #ff6600;
  text-decoration: none;
  padding-bottom: 10px;
}
.orange-toggler.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 102, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.orange-toggler.navbar-toggler {
  border-color: rgb(255, 102, 0);
}
.orange-toggler.navbar-toggler:focus {
  outline-color: rgb(255, 102, 0);
}

/* Carousel - página principal */
.carousel-caption {
  position: absolute;
  bottom: 15%;
}
@media screen and (max-width: 992px) {
  .carousel-caption {
    position: absolute;
    bottom: 5%;
  }
  .carousel-caption h1 {
    font-size: 28px;
  }
  .carousel-caption h4 {
    font-size: 18px;
  }
  .carousel-caption .btn {
    letter-spacing: 1.1px;
    padding: 10px 20px 10px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 480px) {
  .carousel-caption {
    top: auto;
    bottom: 0;
    padding-bottom: 5px;
  }
  .carousel-caption h1 {
    font-size: 16px;
  }
  .carousel-caption h4 {
    margin-top: -5px;
    font-size: 12px;
  }
  .carousel-caption .btn {
    letter-spacing: 1.1px;
    padding: 5px 10px 5px;
    font-weight: 700;
    font-size: 8px;
    text-transform: uppercase;
  }
}
.carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6600' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6600' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Serviços */
.card {
  background-color: #2c2d33;
}
.card a:hover {
  color: #ffffff;
  background-color: #ff6600;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem 0.5rem;
  width: 50%;
}

/* Botão laranja */
.btn {
  letter-spacing: 1.1px;
  padding: 16px 40px 15px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.btn-sabia {
  color: #fff;
  background-color: #ff6600;
  border-color: #ff6600;
}
.btn-sabia:focus,
.btn-sabia:active,
.btn-sabia:hover {
  color: #fff;
  background-color: #424248;
  border-color: #424248;
}
.btn-sabia.disabled,
.btn-sabia:disabled {
  background-color: #ffaf70;
  border-color: #ffaf70;
}
.btn-sabia-outline {
  color: #fff;
  border-color: #ff6600;
}
.btn-sabia-outline:hover {
  color: #fff;
  background-color: #ff6600;
  border-color: #424248;
}

/* Texto na cor laranja */
.text-orange {
  color: #ff6600;
}

/* Login */
.userauth {
  background-color: #fff;
  color: #3e3e3e;
}
.userauth a {
  color: dodgerblue;
}
.userauth a:hover {
  text-decoration: underline;
  background: none;
  color: dodgerblue;
}
.btn-profile a {
  color: #fff;
}
.btn-profile a:hover {
  color: #3e3e3e;
  text-decoration: none;
}

/* Blog */
.blog-page {
  padding: 20px;
  background-color: #fff;
  color: #3e3e3e;
}
.blog-link a {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline #ff6600;
  text-underline-offset: 2px;
}
.blog-link a:hover {
  color: #ff6600 !important;
}
.btn-blog {
  color: #fff;
  font-size: 11px;
  padding: 15px;
  background-color: #424248;
  border-color: #424248;
}
.btn-blog:focus,
.btn-blog:active,
.btn-blog:hover {
  color: #fff;
  background-color: #ff6600;
  border-color: #ff6600;
}

/* Footer */
.copyright {
  color: #ffffff;
  font-size: 12px;
}
.link-icon {
  color: #424248;
}
.link-icon:hover {
  color: #ff6600;
}

/* Equipe (Linkedin) e Entrar/Resgistre-se */
p .link-icon {
  background-color: transparent;
  color: #424248;
}
p .link-icon:hover {
  background-color: transparent;
  color: #ff6600;
  text-decoration: none;
}

/* Cursos */
.label-as-badge {
  border-radius: 1em;
  padding: 5px;
  font-size: 16px;
  color: #ff6600;
  background-color: #ffffff;
}

.btn-course {
  color: #fff;
  background-color: #424248;
  border-color: #424248;
}
.btn-course:focus,
.btn-course:active,
.btn-course:hover {
  color: #fff;
  background-color: #ff6600;
  border-color: #ff6600;
}

/* Mensagens */
.toastjs-container {
  position: absolute; /* Fallback */
  position: fixed;
  top: 30px;
  right: 30px;
  width: calc(100% - 60px);
  max-width: 400px;
  transform: translateX(150%);
  transition: transform 1s;
  z-index: 100;
}
.toastjs-container[aria-hidden="false"] {
  transform: translateX(0%);
}
.toastjs {
  background: #fff;
  padding: 10px 15px 0; /* No bottom padding because the buttons have a margin-bottom */
  border-left-style: solid;
  border-left-width: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: #2c2d33;
}
.toastjs.default {
  border-left-color: #aaaaaa;
}
.toastjs.success {
  border-left-color: #2ecc40;
}
.toastjs.warning {
  border-left-color: #ff851b;
}
.toastjs.danger {
  border-left-color: #ff4136;
}

.toastjs-btn {
  background: rgb(240, 240, 240);
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.toastjs-btn--custom {
  background: rgb(50, 50, 50);
  color: #fff;
}
.toastjs-btn:hover,
.toastjs-btn:focus {
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/* TEAM MEMBERS CAROUSEL STYLES */

.container-team {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  display: flex;
  transition: all ease 0.4s;
}

.person {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 12px;

  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.person .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 0.9em;
  text-align: center;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 16%,
    rgba(0, 0, 0, 0.6306897759103641) 48%,
    rgba(255, 255, 255, 0) 100%
  );
}

#teambox {
  position: relative;
  width: 98.5%;
  height: 250px;
  margin: auto;
  overflow: hidden;
  transition: all ease 0.4s;
}

.row-team {
  position: relative;
}
.row-team .btn-team {
  outline: none;
  position: absolute;
  top: 110px;
  left: -2%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all ease 0.4s;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 8000;
}

.row-team .btn-team:hover {
  background-color: #e56010;
}
.row-team .btn-team.btn-next {
  left: auto !important;
  right: -2%;
}

@media screen and (max-width: 768px) {
  .container-team {
    left: -12px;
  }
  .row-team .btn-team {
    left: 3%;
    background-color: #e56010;
  }
  .row-team .btn-team.btn-next {
    left: auto !important;
    right: 3%;
  }
  #teambox {
    width: 73.2% !important;
  }
  .person {
    width: 100%;
  }
}

/* iPad Pro styles */
@media all and (min-width: 1024px) and (max-height: 1366px) and (max-width: 1333px) {
  #teambox {
    width: 88.4% !important;
  }
  .row-team .btn-team {
    left: 3%;
    background-color: #e56010;
  }
  .row-team .btn-team.btn-next {
    left: auto !important;
    right: 3%;
  }

  .card-img-overlay h4 {
    font-size: 1.3em;
  }
}

/* iPad styles */
@media all and (min-width: 768px) and (max-height: 1024px) and (max-width: 1024px) {
  .container-members {
    margin-top: 94px;
  }
  .person {
    width: 180px;
    height: 180px;
  }
  #teambox {
    width: 85.5% !important;
    height: 180px;
  }
  .row-team .btn-team {
    top: 68px;
    left: 3%;
    background-color: #e56010;
  }
  .row-team .btn-team.btn-next {
    left: auto !important;
    right: 3%;
  }
  .card-img-overlay h4 {
    font-size: 1em;
  }
}
