/* Class rendered by mercadopago js sdk */
.mercadopago-button {
  letter-spacing: 1.1px;
  line-height: 1.5 !important;
  padding: 15px 40px 15px !important;
  font-weight: 700;
  font-size: 14px !important;
  text-transform: uppercase;
  background-color: #ff6600 !important;
  border-color: #ff6600 !important;
  width: fit-content;
}
