{% extends 'account/base_card.html' %}
{% load i18n %}

{% block title %}{% trans "Registration completed" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Registration successful!" %}</h3>
{% endblock %}

{% block card-body %}
    <p>
        {% blocktrans %}Your registration for the{% endblocktrans %} <strong>{{ course.name }}</strong> {% blocktrans %}course was successful.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}All important information is available in your Sabiá account. To access click on{% endblocktrans %}
        <a href="{% url 'my_course' %}">CONTA SABIÁ > Meus cursos</a>.
        {% blocktrans %}
            There you will find the link for the transmission of the class / lecture, dates, times and support materials.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "See you on the" %} {{ course.start_date }} {% trans "at" %} {{ course.start_time }} {% trans "(Brasília time)" %}.
    </p>
{% endblock %}

{% block card-footer %}
{% endblock %}