{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-2">
                <h2>{% trans "Courses" %}</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-2">
                {% for item in course_text %}
                    <div class="mb-5">
                        {{ item.description|safe }}
                        <div class="text-center">
                            {% if item.form_01 %}
                                <a class="btn btn-course" href="{{ item.form_01 }}">{{ item.btn_form_01 }}</a>
                            {% endif %}
                            {% if item.form_02 %}
                                <a class="btn btn-course" href="{{ item.form_02 }}">{{ item.btn_form_02 }}</a>
                            {% endif %}
                        </div>
                        {% if item.link_page %}
                            <a class="btn btn-course" href="{{ item.link_page.url }}">{% trans "Learn more" %}</a>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for course in courses %}
                    <div class="mb-5">
                        <h6>
                            {{ course.name }}
                            {% if course.start_date and course.end_date and course.id not in enrolled_courses %}
                                <span class="label label-as-badge ml-2">{% trans "Open for subscriptions" %}</span>
                            {% elif course.id in enrolled_courses %}
                                <span class="label label-as-badge ml-2">{% trans "Enrolled" %}</span>
                            {% elif course.id in pre_booked_courses %}
                                <span class="label label-as-badge ml-2">{% trans "Pre-booked" %}</span>
                            {% endif %}
                        </h6>
                        <p>
                            {% if course.start_date and course.end_date %}
                                <strong>{% trans "Course date" %}:</strong>
                                {{ course.start_date|date:'d/m/Y' }}{% if course.end_date %} a {{ course.end_date|date:'d/m/Y' }}{% endif %}{% if course.start_time and course.end_time %} das {{ course.start_time }} às {{ course.end_time }}{% endif %}
                            {% endif %}
                        </p>
                        <p>{{ course.description|safe }}</p>
                        <p>
                            {% if course.price %}<strong>{% trans "Price" %}:</strong> R${{ course.price }} {% trans "one-time payment" %}{% endif %}
                            {% if course.price2x %}{% trans " or 2 monthly payments of " %}R${{ course.price2x }}{% endif %}
                            {% if course.price23 %}{% trans " or 3 monthly payments of " %}R${{ course.price3x }}{% endif %}
                        </p>
                        <p>
                            {% if user.is_authenticated %}
                                <form role="form" method="post">{% csrf_token %}
                                    <input type="hidden" name="content" value="{{course.id}}">
                                    {% if course.start_date and course.end_date %}
                                        {% if course.id in enrolled_courses %}
                                            <button type="submit" name="action" value="enroll" class="btn btn-course" disabled>{% trans "Enrolled" %}</button>
                                        {% else %}
                                            {% if course.registered >= course.vacancies %}
                                                <button type="submit" name="action" value="enroll" class="btn btn-course" disabled>{% trans "Exhausted vacancies" %}</button>
                                            {% else %}
                                                <a href="{% url 'enroll' course.id %}" class="btn btn-course">{% trans "Make registration" %}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if course.id in pre_booked_courses %}
                                            <button type="submit" name="action" value="pre-booking-unsubscribe" class="btn btn-danger">{% trans "Cancel pre-booking" %}</button>
                                        {% else %}
                                            <button type="submit" name="action" value="pre-booking" class="btn btn-course">{% trans "Make pre-booking" %}</button>
                                        {% endif %}
                                    {% endif %}
                                </form>
                            {% else %}
                                <a class="btn btn-course" href="{% url 'account_login' %}?next={% url 'cursos' %}">{% if course.start_date %}{% trans "Enroll" %}{% else %}{% trans "Make pre-booking" %}{% endif %}</a>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}