{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-2">
                <h2>{{ page.title }}</h2>
                {% if page.intro %}
                    <p class="intro">{{ page.intro|richtext }}</p>
                {% endif %}
            </div>
            <div class="col-sm-8 col-12">
                {% if page.body %}
                    {% include_block page.body %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
