{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ page.title }}</h3>
                {% if page.intro %}
                    <p class="intro">{{ page.intro|richtext }}</p>
                {% endif %}
            </div>
            <div class="col-md-8">
                {% if page.body %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "success" %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% include_block page.body %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
