{% load i18n wagtailcore_tags wagtailimages_tags %}

<div class="container">
    {% for member in members %}
        <div class="card border-0 mb-5">
            <div class="row" id="{{ member.id }}">
                <div class="col-sm-3 mb-3">
                    {% image member.image fill-280x280 class="img-fluid" %}
                </div>
                <div class="col-sm-8 ml-sm-3">
                    <h2 class="card-title text-orange">{{ member.name }}</h2>
                    <p class="card-text text-orange">{{ member.job_title }}</p>
                    <hr class="bg-light" />

                    <p class="card-text">{{ member.introduction }}</p>
                    <p>
                        <a class="btn btn-sabia-outline" data-toggle="collapse" href="#collapseCV-{{ member.id }}" role="button" aria-expanded="false" aria-controls="collapseCV-{{ member.id }}">{% trans "See more" %}</a>
                        {% if member.linkedin %}
                            <a class="link-icon ml-2" href="{{ member.linkedin }}" target="_blank" data-toggle="tooltip" data-placement="right" title="Clique para ver o Linkedin de {{ member.name }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        {% endif %}
                    </p>
                    <div class="collapse" id="collapseCV-{{ member.id }}">
                        <div class="card card-body border-0">
                            {{ member.body|richtext }}
                        </div>
                    </div>
                </div>
            </div>
      </div>
    {% endfor %}
</div>
