{% load wagtailcore_tags wagtailimages_tags %}

<div class="container">
    <div class="row">
        {% for member in members %}
            <div class="card border-0">
                <div class="row no-gutters">
                    <div class="col-sm-3">
                        {% image member.image fill-280x280 %}
                    </div>
                    <div class="col-sm-9">
                        <div class="card-block px-2 ml-3">
                            <h2 class="card-title text-orange">{{ member.name }}</h2>
                            <p class="card-text text-orange">{{ member.job_title }}</p>
                            <hr class="bg-light" />

                            <p class="card-text">{{ member.introduction }}</p>
                            <p>
                                <a class="btn btn-sabia-outline" data-toggle="collapse" href="#collapseCV" role="button" aria-expanded="false" aria-controls="collapseCV">Ver mais</a>
                                <a class="link-icon ml-2" href="{{ member.linkedin }}" target="_blank">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </p>
                            <div class="collapse" id="collapseCV">
                                <div class="card card-body border-0">
                                    {{ member.body|richtext }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        {% endfor %}
    </div>
</div>
